@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "franklin Gothic Demi Cond";
  src:url("/path-to-fonts/FRAMDCN.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Antique Olive Compact";
  src:url("../app/fonts/11120.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}


@layer base {
  * {
    @apply box-border
  }
  body{
    @apply bg-black text-black tracking-[0.5px]
  }
  h1,h2,h3{
    @apply font-bold
  }
  h1{
    @apply text-[62px] leading-[84px]
  }
  h2{
    @apply text-[32px] leading-[46px]
  }
  h3{
    @apply text-[20px] leading-[30px]
  }
  p{
    @apply text-black/80 leading-8
  }
  a{
    @apply text-white hover:text-orange transition-all duration-300 cursor-pointer
  }
  label{
    @apply text-white text-sm uppercase block mb-2
  }
  .active{
    @apply text-orange
  }
}

h1,h2,h3,h4,h5{
  font-family: "Antique Olive Compact", sans-serif;
}

p {
  font-family: 'franklin Gothic Demi Cond, sans-serif'
}


.loader {
  border: 4px solid #f3f3f3; /* Light gray */
  border-top: 4px solid #ff4500; /* Orange */
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

